<div id="friends", class="container-fluid">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>E-mail</th>
      <th>Where met</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.surname %></td>
        <td><%= friend.email %></td>
        <td><%= friend.where_met %></td>
        <td><%= link_to "Show this friend", friend, class: 'btn btn-outline-primary' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>