<!DOCTYPE html>
<html>
  <head>
    <title>Friends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Friends</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'All', root_path, class: nav_link_class(root_path) %>
          <%= link_to 'School', school_friends_path, class: nav_link_class(school_friends_path) %>
          <%= link_to 'Work', work_friends_path, class: nav_link_class(work_friends_path) %>
          <%= link_to 'Holiday', holiday_friends_path, class: nav_link_class(holiday_friends_path) %>
        </div>
      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
